spring:
  application:
    name: clientes
  datasource:
    url: jdbc:postgresql://localhost:5555/ecommerceclientes
    username: example
    password: example
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082
